@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/*@font-face{*/
    /*font-family: 'Poppins Regular';*/
    /*src: url('../../fonts/PoppinsRegular/Poppinsregular.eot');*/
    /*src: url('../../fonts/PoppinsRegular/Poppinsregular.eot?iefix') format('eot'),*/
    /*url('../../fonts/PoppinsRegular/Poppinsregular.woff') format('woff'),*/
    /*url('../../fonts/PoppinsRegular/Poppinsregular.ttf') format('truetype');*/
/*}*/
/*@font-face{*/
    /*font-family: 'Poppins Medium';*/
    /*src: url('../../fonts/PoppinsMedium/Poppinspoppins-semiboldmedium.eot');*/
    /*src: url('../../fonts/PoppinsMedium/Poppinspoppins-semiboldmedium.eot?iefix') format('eot'),*/
    /*url('../../fonts/PoppinsMedium/Poppinspoppins-semiboldmedium.woff') format('woff'),*/
    /*url('../../fonts/PoppinsMedium/Poppinspoppins-semiboldmedium.ttf') format('truetype');*/
/*}*/
/*@font-face{*/
    /*font-family: 'Poppins Semibold';*/
    /*src: url('../../fonts/PoppinsSemibold/Poppinspoppins-boldsemibold.eot');*/
    /*src: url('../../fonts/PoppinsSemibold/Poppinspoppins-boldsemibold.eot?iefix') format('eot'),*/
    /*url('../../fonts/PoppinsSemibold/Poppinspoppins-boldsemibold.woff') format('woff'),*/
    /*url('../../fonts/PoppinsSemibold/Poppinspoppins-boldsemibold.ttf') format('truetype');*/
/*}*/

/*@font-face{
    font-family: 'PoppinsG Regular';
    src: url('../../fonts/PoppinsGRegular/Poppins-Regular.eot');
    src: url('../../fonts/PoppinsGRegular/Poppins-Regular.eot?iefix') format('eot'),
    url('../../fonts/PoppinsGRegular/Poppins-Regular.woff') format('woff'),
    url('../../fonts/PoppinsGRegular/Poppins-Regular.ttf') format('truetype');
}
@font-face{
    font-family: 'PoppinsG Medium';
    src: url('../../fonts/PoppinsGMedium/Poppins-Medium.eot');
    src: url('../../fonts/PoppinsGMedium/Poppins-Medium.eot?iefix') format('eot'),
    url('../../fonts/PoppinsGMedium/Poppins-Medium.woff') format('woff'),
    url('../../fonts/PoppinsGMedium/Poppins-Medium.ttf') format('truetype');
}
@font-face{
    font-family: 'PoppinsG Semibold';
    src: url('../../fonts/PoppinsGSemibold/Poppins-SemiBold.eot');
    src: url('../../fonts/PoppinsGSemibold/Poppins-SemiBold.eot?iefix') format('eot'),
    url('../../fonts/PoppinsGSemibold/Poppins-SemiBold.woff') format('woff'),
    url('../../fonts/PoppinsGSemibold/Poppins-SemiBold.ttf') format('truetype');
}*/